body{
margin: 0;
}

// Main Styles

$bg-cards: #F7F7F7;

$bg-kladde: #D9D9D9;
$bg-sendt: #F7EFB1;
$text-sendt: #D6A500;
$bg-accept: #D7F5DD;
$text-accept: #30B34A;
$bg-revision: #FCE8E8;
$text-revision: #FD8282;
$text-placeholder: #C9C9C9;

$green: #30B34A;
$text-main: #4A4A4A;
$bg-main: #FFFFFF;
$circle-color: #BE2069;

